        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: white;
        }
        
        form {
            border: 3px solid white;
            width: 500px;
            align: right;
        }
        
        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        
        button {
            background-color: #1822af;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-top: 20px;
        }
        
        button:hover {
            opacity: 0.8;
        }
        
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: red;
        }
        
        .signup {
            width: center;
            padding: 10px 18px;
            background-color: rgb(240, 86, 25);
        }
        
        .createaccount {
            width: center;
            padding: 10px 18px;
            background-color: green;
        }
        
        .student,
        .faculty {
            width: 35%;
            padding: 40px 50px;
            color: black;
            background-color: skyblue;
            margin-top: 20px;
        }
        
        .container {
            padding: 16px;
        }
        
        .bd-content {
            min-height: 100vh;
            width: 100%;
            background-image: url(../images/vclass.jpg);
            background-position: right;
            background-size: relative;
            background-repeat: no-repeat;
        }
        
        .vtulogo {
            width: 200px;
        }
        
        span.psw {
            float: right;
            padding-top: 16px;
        }
        /* Change styles for span and cancel button on extra small screens */
        
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }
            .cancelbtn {
                width: 100%;
            }
        }