<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/all.css">
    <title>
        virtual classroom
    </title>
    <div class="vtulogo">
        <img src="../static/images/VTU1R.jpg">
    </div>

</head>

<body>
    <div class="bd-content">

        <H1><a>WELCOME TO <BR>VIRTUAL CLASSROOM</a></H1>

        <div>
            <a href="../templates/student login.html"> 
                <button type=" button 1 " class="student">  STUDENT </button> 
            </a>
        </div>
        <div>
            <a href="../templates/faculty login.html">
                <button type=" button 2 " class="faculty"> FACULTY </button>
            </a>
        </div>

    </div>


</body>

</html>