<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Classroom</title>
    <link rel="icon" type="image/png" href="../static/images/vc_logo.png">
    <link href="../static/css/style.css" rel="stylesheet">
    
</head>
<body>
    <section class="header">
        <nav>
            <img class="logo-l" src="../static/images/vc_logo.png" alt="logo">

            <div class="navbar">
                <ul>
                    <li><a href="">COURSE</a></li>
                    <li><a href="">ASSIGNMENT</a></li>
                    <li><a href="">COURSE MATERIAL</a></li>
                    <li><a href="">ACADEMICS</a></li>
                </ul>    
            </div>    
        </nav>
        <div class="home-data">
            <h1 class="heading">Virtual <span class="heading-c"> Classroom </span> </h1>
            <p class="subheading">A collaborative web tool for faculty and students to enhance there academic experience...</p>
            <p class="head-content1">It can get chaotic to keep track of course materials, projects, schedules and deadline without an application like this.</p>
            <p class="head-content2">This is an attempt of creating a virtual platform that encompasses all academic schedules and coursework ensuring a holistic 
            online learning experience.</p>
        </div>
    </section>    
    <footer>
        <span>&copy;</span> created by team MIT
    </footer>
</body>
</html>