<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/all.css">
    <h2 ALIGN=CENTER>STUDENT SIGN UP</h2>
</head>

<body>


    <div align=center>

        <form action="#" method="post" align=relative>


            <div class="container">
                <label for="Fname"><b>First Name</b></label>
                <input type="text" placeholder="Enter first name" name="Fname" required>

                <label for="Lname"><b>Last Name</b></label>
                <input type="text" placeholder="Enter last name" name="Lname" required>

                <label for="rn"><b>Roll Number</b></label>
                <input type="text" placeholder="Enter Roll No" name="rn" required>
                <div>
                    <label for="course"><b>Course</b></label>

                    <select>
        <option label="CSE"></option>
        <option label="ECE"></option>
        <option label="ME"></option>
        <option label="CIV"></option>
                     </select>
                </div>


                <DIV>
                    <label for="db"><b><BR>D.O.B</b></label>
                    <input type="date" placeholder="enter dob" name="db" required>
                </DIV>
                <DIV>
                    <label for="db"><b><br>Year</b></label>
                    <select>
                        <option label="1"></option>
                        <option label="2"></option>
                        <option label="3"></option>
                        <option label="4"></option>
                                     </select> </DIV>

                <label for="psw"><b><br><br>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>


                <label for="psw"><b>Confirm Password</b></label>
                <input type="password" placeholder="Re-Enter Password" name="psw2" required>

                <button class="createaccount" type="submit">CREATE ACCOUNT</button>


            </div>

            <div align=left class="container" bgcolor=red>
                <button type=" button " class="cancelbtn ">Cancel</button>
                <span class="login"> <a href="student login.html">have account?</a></span>
            </div>
        </form>
    </div>


</body>

</html>